extends layout

block content
    h1 Crossing: #{crossing.name}
    
    div(style="margin-left:20px;margin-top:20px")

        p #[strong rating: ] #{crossing.rating}
        p #[strong Percentage Adjust: ] #{crossing.percentage_P}
        p #[strong Carry Adjust: ] #{crossing.carry_C}
        p #[strong Two Adjust: ] #{crossing.twoTimes_2}

    div(style="margin-left:20px;margin-top:20px")

        if lzObstacle.length > 0 || teeObstacle.length > 0
            h4 Obstacles
            each obst in lzObstacle

                div(style="margin-left:40px;")
                
                    a(href=obst.url) #{obst.name}
            each obst in teeObstacle

                div(style="margin-left:40px;")
                
                    a(href=obst.url) #{obst.name}
            
    hr

    p 
        a(href=crossing.url+'/delete') Delete Crossing
    p
        a(href=crossing.url+'/update') Update Crossing

