extends layout

block content
    h1= title
    
    form(method='POST' action='')
        div.form-group
            label(for='name') Name:
            input#name.form-control(
                type='text'
                placeholder='Fairway name e.g. name-Men/Women-hole#-scratch/bogey-lz#'
                name='name'
                required='true' 
                value=(undefined===fairway ? '' : fairway.name)
            )

        div.form-group
            label(for='rating') Rating of fairway:
            input#rating.form-control(
                type='number'
                placeholder='Rating of fairway'
                name='rating' 
                required='true' 
                value=(undefined===fairway ? '' : fairway.rating)
            )

        div.form-group
            label(for='layup_L') Layup_L adjustment:
            input#layup_L.form-control(
                type='number'
                placeholder='Layup_L adjustment'
                name='layup_L' 
                required='true' 
                value=(undefined===fairway ? '' : fairway.layup_L)
            )

        div.form-group
            label(for='visibility_V') Visibility_V adjustment:
            input#visibility.form-control(
                type='number'
                placeholder='Visibility_V adjustment'
                name='visibility_V' 
                required='true' 
                value=(undefined===fairway ? '' : fairway.visibility_V)
            )

        div.form-group
            label(for='width_W') Width_W adjustment:
            input#width_W.form-control(
                type='number'
                placeholder='Width_W adjustment'
                name='width_W' 
                required='true' 
                value=(undefined===fairway ? '' : fairway.width_W)
            )

        div.form-group
            label(for='unpleasant_U') Unpleasant_U adjustment:
            input#unpleasant_U.form-control(
                type='number'
                placeholder='Unpleasant_U adjustment'
                name='unpleasant_U' 
                required='true' 
                value=(undefined===fairway ? '' : fairway.unpleasant_U)
            )
                    
        button.btn.btn-primary(type='submit') Submit
        
    if errors
        ul
            for error in errors
                li!= error.msg
