extends layout

block content
    h1 Hole Number: #{hole.name}

    div(style="width:450px;")

        div(style="position:absolute; left:475px; width:400px; margin-top: 0; background:lightgrey; padding:10px")
            p #[strong Instruction box ]
            p Select to rate this hole by clicking #[strong Rate Hole]

        div(style="margin-left:20px;margin-top:20px")
        h4 Tees
        each tee in hole.tee.sort((a,b) => b.length - a.length)

            div(style="margin-left:40px;")
                a(href=tee.url)  #{tee.name}
                | (#{tee.length} yard, par #{tee.par})

        hr
        h4 Lzs 
        each lz in hole.lz.sort((a,b) => b.distanceToGreen - a.distanceToGreen)

            div(style="margin-left:40px;")
                a(href=lz.url)  #{lz.name}
                | (#{lz.distanceToGreen } yard, altitude #{lz.altitude})
        hr
        h4 Green 
        div(style="margin-left:40px;")
            a(href=hole.green.url)  Green #{hole.green.name}
            | (Diameter #{hole.green.diameter} yards, Altitude: #{hole.green.altitude})
            
        hr
        div(style="margin-left:0px;")
            a.btn(href=hole.url+'/rate' id="sbtn" style="background-color: lightgrey; padding: 5px 10px; font-weight: bold; border-radius: 3px; border: 2px solid black;") Rate Hole
            script.
                var save_link = document.getElementById("sbtn");
                sbtn.onclick = saveLink(save_link);
                function saveLink(slink){
                    localStorage.setItem("returnLink", slink);
                }

        hr
    p 
        a(href=hole.url+'/delete') Delete Hole
    p
        a(href=hole.url+'/update') Update Hole
    //- p 
    //-     a(href=hole.url+'/rate' id='save') Rate Hole
        

