extends layout

block content
    h1 Layup: #{layup.name}

    p #[strong Effective Length Adjust:] #{layup.effectiveLengthAdjust}
    p #[strong Distance To Green:] #{layup.length}
    p #[strong Type Layup:] #{layup.typeLayup}

    div(style="margin-left:20px;margin-top:20px")

        h4 Obstacle
        each obst in obstacle

            div(style="margin-left:40px;")
            
                a(href=obstacle.url) #{obst.name}
            
    hr

    p 
        a(href=layup.url+'/delete') Delete Layup
    p
        a(href=layup.url+'/update') Update Layup

