extends layout

block content
    h1= title
    
    ul
        each layup in layup_list
            li
                a(href=layup.url) name: #{layup.name}
                | (adjust = #{layup.effectiveLengthAdjust}, length = #{layup.length}, type = #{layup.typeLayup})
                
        else
            li There are no layups.