extends layout

block content
    h1 Layup: #{layup.name}

    div(style="width:350px;")

        div(style="position:absolute; left:400px; width:400px; margin-top: 0; background:lightgrey; padding:10px")
            p #[strong Instruction box ]
            p To enter rating data select #[strong Update Layup] link
            p After submitting the data the screen will return here
            p Select the #[strong obstacle link] to return to rate the next obstacle
    
        div(style="margin-left:20px;margin-top:20px")

            p #[strong Effective Length Adjust:] #{layup.effectiveLengthAdjust}
            p #[strong Distance To Green:] #{layup.length}
            p #[strong Type Layup:] #{layup.typeLayup}

        div(style="margin-left:20px;margin-top:20px")

            if lzObstacle.length > 0
                h4 LzObstacle
                each obst in lzObstacle

                    div(style="margin-left:40px;")
                    
                        a(href=obst.url) #{obst.name}
            
    hr

    p 
        a(href=layup.url+'/delete') Delete Layup
    p
        a(href=layup.url+'/update') Update Layup

