extends layout

block content
    h1= title
    
    form(method='POST' action='')
        div.form-group
            label(for='name') Name:
            input#name.form-control(
                type='text'
                placeholder='Lz name e.g name-Men/Women-hole#-scratch/bogey-lz#'
                name='name' 
                required='true' 
                value=(undefined===lz ? '' : lz.name)
            )

        div.form-group
            label(for='distanceToGreen') DistanceToGreen from lz:
            input#distanceToGreen.form-control(
                type='number'
                placeholder='distanceToGreen from lz in yards'
                name='distanceToGreen' 
                required='true' 
                value=(undefined===lz ? '' : lz.distanceToGreen)
            )

        div.form-group
            label(for='altitude') Altitude of lz:
            input#altitude.form-control(
                type='number'
                placeholder='Altitude of lz in feet'
                name='altitude' 
                required='true' 
                value=(undefined===lz ? '' : lz.altitude)
            )
                
        div.form-group
            label  LZ Obstacles:
            for lzObstacle in lzObstacles.sort((a,b) => (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0))
                div("margin-left:20px;margin-top:20px")
                    input.checkbox-input(
                        type="checkbox", 
                        name="lzObstacle", 
                        id=lzObstacle._id, 
                        value=lzObstacle._id, 
                        checked=lzObstacle.checked )
                    label(for=lzObstacle._id) #{lzObstacle.name}
                    
        button.btn.btn-primary(type='submit') Submit
        
    if errors
        ul
            for error in errors
                li!= error.msg
