extends layout

block content
    h1 Obstacle: #{obstacle.name}

    div(style="margin-left:20px;margin-top:20px")                    
        a(href=obstacle.layup.url)  #{obstacle.layup.name}

        ul 
            li Adjust: #{obstacle.layup.effectiveLengthAdjust}
            li Length: #{obstacle.layup.length}
            li Type: #{obstacle.layup.typeLayup}      
 
    div(style="margin-left:20px;margin-top:20px")       
        a(href=obstacle.dogleg.url)  #{obstacle.dogleg.name}

        ul 
            li Adjust: #{obstacle.dogleg.effectiveLengthAdjust}
            li Length: #{obstacle.dogleg.length}

    div(style="margin-left:20px;margin-top:20px")       
        a(href=obstacle.roll.url)  #{obstacle.roll.name}

        ul 
            li Rating: #{obstacle.roll.rating}
            li Adjust: #{obstacle.roll.effectiveLengthAdjust}
            li Firm Adjust: #{obstacle.roll.firm_F}
            li Two Adjust: #{obstacle.roll.twoTimes_2}

    div(style="margin-left:20px;margin-top:20px")       
        a(href=obstacle.topo.url)  #{obstacle.topo.name}

        ul 
            li Rating: #{obstacle.topo.rating}

    div(style="margin-left:20px;margin-top:20px")       
        a(href=obstacle.fairway.url)  #{obstacle.fairway.name}

        ul 
            li Rating: #{obstacle.fairway.rating}
            li Layup Adjust: #{obstacle.fairway.layup_L}
            li Visibility Adjust: #{obstacle.fairway.visibility_V}
            li Width Adjust: #{obstacle.fairway.width_W}
            li Unpleasant Adjust: #{obstacle.fairway.unpleasant_U}

    div(style="margin-left:20px;margin-top:20px")       
        a(href=obstacle.target.url)  #{obstacle.target.name}

        ul 
            li Rating: #{obstacle.target.rating}
            li Obstructed Adjust: #{obstacle.target.obstructed_O}
            li Visibility Adjust: #{obstacle.target.visibility_V}

    div(style="margin-left:20px;margin-top:20px")       
        a(href=obstacle.rR.url)  #{obstacle.rR.name}

        ul 
            li Rating: #{obstacle.rR.rating}
            li Carry Adjust: #{obstacle.rR.carry_C}
            li Layup Adjust: #{obstacle.rR.layup_L}
            li Inconsistent Adjust: #{obstacle.rR.inconsistent_I}
            li Mounds Adjust: #{obstacle.rR.mounds_M}
            li Unpleasant Adjust: #{obstacle.rR.unpleasant_U}
            li Two Adjust: #{obstacle.rR.twoTimes_2}
            li Par 3 Adjust: #{obstacle.rR.parThree_3}
            li Surrounded Adjust: #{obstacle.rR.surrounded_S}

    div(style="margin-left:20px;margin-top:20px")       
        a(href=obstacle.bunker.url)  #{obstacle.bunker.name}

        ul 
            li Rating: #{obstacle.bunker.rating}
            li Bounce Adjust: #{obstacle.bunker.bounce_B}
            li Carry Adjust: #{obstacle.bunker.carry_C}
            li Depth Adjust: #{obstacle.bunker.depth_D}
            li Extreme Adjust: #{obstacle.bunker.extreme_E}
            li No Adjust: #{obstacle.bunker.no_N}
            li Squeeze Adjust: #{obstacle.bunker.squeeze_Q}

    div(style="margin-left:20px;margin-top:20px")       
        a(href=obstacle.lateral.url)  #{obstacle.lateral.name}

        ul 
            li Rating: #{obstacle.lateral.rating}
            li Percentage Adjust: #{obstacle.lateral.percentage_P}
            li Bounce Adjust: #{obstacle.lateral.bounce_B}
            li Squeeze Adjust: #{obstacle.lateral.squeeze_Q}
            li Stroke Adjust: #{obstacle.lateral.stroke_K}
            li Two Adjust: #{obstacle.lateral.twoTimes_2}
            li Surrounded: #{obstacle.lateral.surrounded_S}

    div(style="margin-left:20px;margin-top:20px")       
        a(href=obstacle.crossing.url)  #{obstacle.crossing.name}

        ul 
            li Rating: #{obstacle.crossing.rating}
            li Percentage Adjust: #{obstacle.crossing.percentage_P}
            li Carry Adjust: #{obstacle.crossing.carry_C}
            li Two Adjust: #{obstacle.crossing.twoTimes_2}

    div(style="margin-left:20px;margin-top:20px")       
        a(href=obstacle.tree.url)  #{obstacle.tree.name}

        ul 
            li Rating: #{obstacle.tree.rating}
            li Obstructed Adjust: #{obstacle.tree.obstructed_O}
            li Chute Adjust: #{obstacle.tree.chute_H}

    div(style="margin-left:20px;margin-top:20px")       
        a(href=obstacle.surface.url)  #{obstacle.surface.name}

        ul 
            li Rating: #{obstacle.surface.rating}
            li Tiered Adjust: #{obstacle.surface.tiered_T}
            li Firm Adjust: #{obstacle.surface.firm_F}
            li Unpleasant Adjust: #{obstacle.surface.unpleasant_U}
        
    hr

    p 
        a(href=obstacle.url+'/delete') Delete Obstacle
    p
        a(href=obstacle.url+'/update') Update Obstacle
        

