extends layout

block content
    h1 Roll: #{roll.name}
    
    div(style="margin-left:20px;margin-top:20px")

        p #[strong rating: ] #{roll.rating}
        p #[strong Effective Length Adjust: ] #{roll.effectiveLengthAdjust}
        p #[strong Firm Adjust: ] #{roll.firm_F}
        p #[strong Two Adjust: ] #{roll.twoTimes_2}

    div(style="margin-left:20px;margin-top:20px")

        if obstacle.length > 0
            h4 Obstacle
            each obst in obstacle

                div(style="margin-left:40px;")
                
                    a(href=obst.url) #{obst.name}
            
    hr

    p 
        a(href=roll.url+'/delete') Delete Roll
    p
        a(href=roll.url+'/update') Update Roll

