extends layout

block content
    h1 RR: #{rR.name}

    div(style="width:350px;")

        div(style="position:absolute; left:400px; width:400px; margin-top: 0; background:lightgrey; padding:10px")
            p #[strong Instruction box ]
            p To enter rating data select #[strong Update RR] link
            p After submitting the data the screen will return here
            p Select the #[strong obstacle link] to return to rate the next obstacle

        div(style="margin-left:20px;margin-top:20px")

        p #[strong rating: ] #{rR.rating}
        p #[strong Carry Adjust: ] #{rR.carry_C}
        p #[strong Layup Adjust: ] #{rR.layup_L}
        p #[strong Inconsistent Adjust: ] #{rR.inconsistent_I}
        p #[strong Mounds Adjust: ] #{rR.mounds_M}
        p #[strong Unpleasant Adjust: ] #{rR.unpleasant_U}
        p #[strong Two Adjust: ] #{rR.twoTimes_2}
        p #[strong Par 3 Adjust: ] #{rR.parThree_3}
        p #[strong Surrounded Adjust: ] #{rR.surrounded_S}

        div(style="margin-left:20px;margin-top:20px")

            if lzObstacle.length > 0 || teeObstacle.length > 0 || greenObstacle.length > 0
                h4 Obstacles
                each obst in lzObstacle

                    div(style="margin-left:40px;")
                    
                        a(href=obst.url) #{obst.name}
                each obst in teeObstacle

                    div(style="margin-left:40px;")
                    
                        a(href=obst.url) #{obst.name}
                each obst in greenObstacle

                    div(style="margin-left:40px;")
                    
                        a(href=obst.url) #{obst.name}
            
    hr

    p 
        a(href=rR.url+'/delete') Delete RR
    p
        a(href=rR.url+'/update') Update RR

