extends layout

block content
    h1 Surface: #{surface.name}

    div(style="width:350px;")

        div(style="position:absolute; left:400px; width:400px; margin-top: 0; background:lightgrey; padding:10px")
            p #[strong Instruction box ]
            p To enter rating data select #[strong Update Surface] link
            p After submitting the data the screen will return here
            p Select the #[strong obstacle link] to return to rate the next obstacle
    
        div(style="margin-left:20px;margin-top:20px")
            p #[strong rating: ] #{surface.rating}
            p #[strong Tiered Adjust: ] #{surface.tiered_T}
            p #[strong Unpleasant Adjust: ] #{surface.unpleasant_U}

        div(style="margin-left:20px;margin-top:20px")

            if greenObstacle.length > 0
                h4 Obstacles
                each obst in greenObstacle

                    div(style="margin-left:40px;")
                        a(href=obst.url) #{obst.name}
            
    hr

    p 
        a(href=surface.url+'/delete') Delete Surface
    p
        a(href=surface.url+'/update') Update Surface

