extends layout

block content
    h1 Target: #{target.name}

    div(style="width:350px;")

        div(style="position:absolute; left:400px; width:400px; margin-top: 0; background:lightgrey; padding:10px")
            p #[strong Instruction box ]
            p To enter rating data select #[strong Update Target] link
            p After submitting the data the screen will return here
            p Select the #[strong obstacle link] to return to rate the next obstacle
    
        div(style="margin-left:20px;margin-top:20px")
            p #[strong rating: ] #{target.rating}
            p #[strong Obstructed Adjust:] #{target.obstructed_O}
            p #[strong Visibility Adjust:] #{target.visibility_V}

        div(style="margin-left:20px;margin-top:20px")

            if lzObstacle.length > 0 || teeObstacle.length > 0
                h4 Obstacles
                each obst in lzObstacle

                    div(style="margin-left:40px;")
                        a(href=obst.url) #{obst.name}
                each obst in teeObstacle

                    div(style="margin-left:40px;")
                        a(href=obst.url) #{obst.name}
            
    hr

    p 
        a(href=target.url+'/delete') Delete Target
    p
        a(href=target.url+'/update') Update Target

