extends layout

block content
    h1= title
    
    ul
        each target in target_list
            li
                a(href=target.url) name: #{target.name}
                | (Rating: #{target.rating}, Obstructed Adjust: #{target.obstructed_O}, Visibility Adjust: #{target.visibility_V})
                
        else
            li There are no targets.