extends layout

block content
    h1 Target: #{target.name}
    
    div(style="margin-left:20px;margin-top:20px")

        p #[strong rating: ] #{target.rating}
        p #[strong Obstructed Adjust:] #{target.obstructed_O}
        p #[strong Visibility Adjust:] #{target.visibility_V}

    div(style="margin-left:20px;margin-top:20px")

        if obstacle.length > 0
            h4 Obstacle
            each obst in obstacle

                div(style="margin-left:40px;")
                
                    a(href=obst.url) #{obst.name}
            
    hr

    p 
        a(href=target.url+'/delete') Delete Target
    p
        a(href=target.url+'/update') Update Target

