extends layout

block content
    h1 Topo: #{topo.name}
    
    div(style="margin-left:20px;margin-top:20px")

        p #[strong rating: ] #{topo.rating}

    div(style="margin-left:20px;margin-top:20px")

        if lzObstacle.length > 0
            h4 lzObstacle
            each obst in lzObstacle

                div(style="margin-left:40px;")
                
                    a(href=obst.url) #{obst.name}
            
    hr

    p 
        a(href=topo.url+'/delete') Delete Topo
    p
        a(href=topo.url+'/update') Update Topo

