extends layout

block content
    h1 Topo: #{topo.name}

    div(style="width:350px;")

        div(style="position:absolute; left:400px; width:400px; margin-top: 0; background:lightgrey; padding:10px")
            p #[strong Instruction box ]
            p To enter rating data select #[strong Update Topo] link
            p After submitting the data the screen will return here
            p Select the #[strong obstacle link] to return to rate the next obstacle
    
        div(style="margin-left:20px;margin-top:20px")
            p #[strong rating: ] #{topo.rating}

        div(style="margin-left:20px;margin-top:20px")

            if lzObstacle.length > 0
                h4 lzObstacle
                each obst in lzObstacle

                    div(style="margin-left:40px;")
                    
                        a(href=obst.url) #{obst.name}
            
    hr

    p 
        a(href=topo.url+'/delete') Delete Topo
    p
        a(href=topo.url+'/update') Update Topo

