extends layout

block content
    h1 Tree: #{tree.name}

    div(style="width:350px;")

        div(style="position:absolute; left:400px; width:400px; margin-top: 0; background:lightgrey; padding:10px")
            p #[strong Instruction box ]
            p To enter rating data select #[strong Update Tree] link
            p After submitting the data the screen will return here
            p Select the #[strong obstacle link] to return to rate the next obstacle
    
        div(style="margin-left:20px;margin-top:20px")

            p #[strong rating: ] #{tree.rating}
            p #[strong Obstructed Adjust: ] #{tree.obstructed_O}
            p #[strong Chute Adjust: ] #{tree.chute_H}

        div(style="margin-left:20px;margin-top:20px")

            if lzObstacle.length > 0 || teeObstacle.length > 0 || greenObstacle.length > 0
                h4 Obstacles
                each obst in lzObstacle

                    div(style="margin-left:40px;")
                    
                        a(href=obst.url) #{obst.name}
                each obst in teeObstacle

                    div(style="margin-left:40px;")
                    
                        a(href=obst.url) #{obst.name}
                each obst in greenObstacle

                    div(style="margin-left:40px;")
                    
                        a(href=obst.url) #{obst.name}
            
    hr

    p 
        a(href=tree.url+'/delete') Delete Tree
    p
        a(href=tree.url+'/update') Update Tree

